<!doctype html>
<html>
<body>
	
	<ul class="nav nav-tabs">
  		<li role="presentation" class="active"><a href="/providers">Proveedores</a></li>
  		<li role="presentation"><a href="/facture_list">Factura</a></li>
  		<li role="presentation"><a href="/new_voucher">Boleta</a></li>
	</ul>

</body>
</html>