
</div>
</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<div class="modal fade" id="extend" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modificar</h4>
            </div>
            <form action="/extend" method="POST">
                <div class="modal-body">
                    <label>Tiempo Extra</label>
                    <select name="tiempo" class="form-control">
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                        <option value="120">120</option>
                        <option value="180">180</option>
                        <option value="240">240</option>
                        <option value="360">360</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="continue" name="id" value="" class="btn btn-primary">Modificar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="prejump" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Prejumper</h4>
            </div>
            <form action="/sudo_pj" method="POST">
                <div class="modal-body">
                    <label>Nombre</label>
                    <input type="text" name="nom" class="form-control" id="nom">
                    <label>Apellido</label>
                    <input type="text" name="ape" class="form-control" id="ape">
                    <label>Fecha de nacimiento</label>
                    <input type="date" name="fnac" class="form-control" id="fnac">
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit"  class="btn btn-primary">+ Prejumper</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="mpjump" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modificar</h4>
            </div>
            <form action="/m_pjump" method="POST">
                <div class="modal-body">
                    <label>Nombre</label>
                    <input type="text" name="nom" class="form-control" id="nom">
                    <label>Apellido</label>
                    <input type="text" name="ape" class="form-control" id="ape">
                    <label>Fecha de nacimiento</label>
                    <input type="text" name="fnac" class="form-control" id="fnac">
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="continue" name="id" value="" class="btn btn-primary">Modificar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="mjump" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modificar</h4>
            </div>
            <form>
                <div class="modal-body">
                    <label>Nombre</label>
                    <input type="text" name="nom" class="form-control" id="nom">
                    <label>Apellido</label>
                    <input type="text" name="ape" class="form-control" id="ape">
                    <label>Fecha de nacimiento</label>
                    <input type="text" name="fnac" class="form-control" id="fnac">
                    <label>Correo</label>
                    <input type="text" name="verif" class="form-control" id="verif">

                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" id="continue-j" name="id" value=""  class="btn btn-primary">Modificar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="deljump" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modificar</h4>
            </div>
                <div class="modal-body">
                    <div id="djump"></div>
                </div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-danger" data-dismiss="modal" id="dbtn" onclick="del()">Si, Eliminar</button>
                    </div>
                </div>
        </div>
    </div>
</div>
<div class="modal fade" id="timeset" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Ajustar Hora</h4>
            </div>
            <div class="modal-body">
                Hora de término
                <input type="text" class="form-control" id="time">
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button  id="continue" name="id" value="" class="set btn btn-primary">Modificar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/assets/js/jquery-min.js"></script>


<script src="/assets/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/js/ie10-viewport-bug-workaround.js"></script>
<!-- datepicker -->
<script type="text/javascript" src="/assets/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/assets/js/moment-with-locales.min.js"></script>
<script type="text/javascript" src="/assets/js/transition.js"></script>
<script type="text/javascript" src="/assets/js/collapse.js"></script><script type="text/javascript" src="/assets/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css" >
<script type="text/javascript">
    $("ul.qcontrols li").click(function(){
        // If this isn't already active
        if (!$(this).hasClass("active")) {
            // Remove the class from anything that is active
            $("ul.qcontrols li.active").removeClass("active");
            // And make this active
            $(this).addClass("active");
        }
    });
    $(document).on("click", ".modif", function() {
        var jumpid = $(this).data('id');
        $(".modal-footer #continue").val(jumpid);
    });
    $(document).on("click", ".prejumps", function() { 
        var val = [];
        var emailRegex = '^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$';
        var email = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$/i;
        console.log(email.test(verif));
        $(':checkbox:checked').each(function(i){
            val[i] = $(this).val();
        });
        if(val.length){
            var verif = $("#verif").val();
            console.log(email.test(verif));
            if(verif == ""){
                $("#preregistro").modal("toggle");
            } else if (email.test(verif)){
                $("#pform").submit();
            } else {
                alert("Ingrese un email válido");
            }
        } else {
            alert("Seleccione algún prejumper");
        }
        

    });
    $(document).on("click", ".set", function() {
        var jumpid = "#" + $("#continue").val();
        var tiemp = '<input name="horas" type="hidden" value="' + $(".modal-body #time").val() + '">';
        var html = '<a data-id="' + $(this).val() + '" data-toggle="modal" data-target="#timeset" class="timeset btn btn-success">' +
            '<span class="glyphicon glyphicon-time" id="tiempo" aria-hidden="true"></span>' + $(".modal-body #time").val() + '</a>' +
            '<button class="unset btn btn-sm btn-danger" value="' + $("#continue").val() + '"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>';
        $(jumpid).html(tiemp + html);
        $("#timeset").modal('toggle');
    });
    $(document).on("click", ".unset", function() {
        var jumpid = "#" + $(this).val();
        var tiemp = '<input name="horas" type="hidden" value="no">';
        var html = '<a data-id="' + $(this).val() + '" data-toggle="modal" data-target="#timeset" class="timeset btn btn-info"><span class="glyphicon glyphicon-time" id="tiempo" aria-hidden="true"></span></a>';
        $(jumpid).html(tiemp + html);
    });
    $(document).on("click", ".timeset", function() {
        var jumpid = $(this).data('id');
        $(this).removeClass("btn-info");
        $(this).addClass("btn-success");
        $(".modal-footer #continue").val(jumpid);
        $('#time').datetimepicker({
            format: 'HH:mm:ss',
            locale: 'es',
            useCurrent: true
        });
    });
    $(document).on("click", ".mjump", function() {
        var jumpid = $(this).data('id');
        var nom = $(this).data('nom');
        var ape = $(this).data('ape');
        var fnac = $(this).data('fnac');
        var verif = $(this).data('verif');
        $(".modal-body #nom").val(nom);
        $(".modal-body #ape").val(ape);
        $(".modal-body #fnac").val(fnac);
        $(".modal-body #verif").val(verif);
        $(".modal-footer #continue-j").val(jumpid);
        $('#fnac').datetimepicker({
            viewMode: 'years',
            format: 'YYYY/MM/DD',
            maxDate: new Date(),
            locale: 'es',
            useCurrent: false
        });
    });

    $(document).on("click", ".mpjump", function() {
        var jumpid = $(this).data('id');
        var nom = $(this).data('nom');
        var ape = $(this).data('ape');
        var fnac = $(this).data('fnac');
        $(".modal-body #nom").val(nom);
        $(".modal-body #ape").val(ape);
        $(".modal-body #fnac").val(fnac);
        $(".modal-footer #continue").val(jumpid);
        $('#fnac').datetimepicker({
            viewMode: 'years',
            format: 'YYYY/MM/DD',
            maxDate: new Date(),
            locale: 'es',
            useCurrent: false
        });
    });
    $(document).on("click", ".deljump", function() {
        var val = [];
        $(':checkbox:checked').each(function(i){
            val[i] = $(this).val();
        });
        if(val.length){
            $(".modal-body #djump").text("¿Está seguro que desea eliminar los seleccionados?");
            $(".modal-footer #dbtn").text("Si, Eliminar (" + val.length + ")");
        }
    });
    $(function () {
        $('#continue-j').click(function(e){
            $("#continue-j").attr("disabled", true);
            e.preventDefault();

            /*$.ajax({
             dataType: 'jsonp',
             data: "data=yeah",
             jsonp: 'callback',
             url: 'http://localhost:3000/endpoint?callback=?',
             success: function(data) {
             console.log('success');
             console.log(JSON.stringify(data));
             }
             });*/
            var data = {};

            data.nom = $("#mjump .modal-body #nom").val();
            data.ape = $("#mjump .modal-body #ape").val();
            data.fnac = $("#mjump .modal-body #fnac").val();
            data.verif = $("#mjump .modal-body #verif").val();
            data.id = $("#mjump .modal-footer #continue-j").val();
            $.ajax({
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json',
                url: '/m_jump',
                success: function(data) {
                    $("#continue-j").attr("disabled", false);
                    $("#mjump").modal("toggle");
                    stream();
                }
            });
            /*$.ajax('http://localhost:3000/endpoint', {
             type: 'POST',
             data: JSON.stringify(data),
             contentType: 'application/json',
             success: function() { console.log('success');},
             error  : function() { console.log('error');}
             });*/
        });
    });
</script>
<script>

    function enable2() {
        document.getElementById("myBtn1").disabled = false;
        document.getElementById("del").className = "btn btn-primary btn-danger btn-lg deljump";
    }
    function enable() {
        document.getElementById("del").className = "btn btn-primary deljump btn-danger";
        document.getElementById("add").disabled = false;
        document.getElementById("continuar").disabled = false;
    }
</script>

</body>
</html>