<%- include layouts/admin_header.ejs %>

    <h2 class="page-header">Añadir Usuario</h2>
    <div class="col-md-6">
        <form method="post" action="/user/add">
            <div class="form-group form-inline">
                <label>Credenciales</label>
                <input type="text" class="form-control" name="username" placeholder="Username" required>
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo</label>
                <select type="text" name="tipo" class="form-control" required>
                    <option value="1">Monitor</option>
                    <option value="2">Moderador</option>
                    <option value="3">Ciudadano</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Crear</button>
            </div>
        </form>
    </div>

        
<%- include layouts/footer.ejs %>