<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="assets/img/pan.png">
    <title>Ingresar</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css" >
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <link href="/assets/css/style_index.css" rel="stylesheet">

    <style>
        body{ 
            padding-top:80px;
            background-color: white;
            /*background-color: white;*/
        }
        .spin{
            transition: 1s;
        }
        .spin:hover{
            cursor: pointer;
            transform: rotate(360deg);
        }
    </style>

</head>
<body>
    <div class="container">
    <div style="display: flex; width: 100%; padding-left: 25%; padding-right: 25%">
        <h1 class="spin" style="width: 50%;font-family: 'Pacifico', cursive; font-size: 80px;text-align: center;">Rico</h1>
        <h1 style="width: 50% ;font-family: 'Pacifico', cursive; font-size: 80px;text-align: center;">Pan</h1>
    </div>    
        <img src="/assets/img/pan.png" id="logo">
        <div class="jumbotron text-center" style="background-color: red">

            <a href="/guest_login" class="btn btn-default" style="background-color: white;"><span class="fa fa-user"></span> Guest Login</a>
            <a href="/admin_login" class="btn btn-default" style="background-color: white;"><span class="fa fa-user"></span> Admin Login</a>
        </div>


    </div>
</body>
</html>