<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" href="assets/img/belitaicon.png">
    <title>Ingresar</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css" >
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    

    <link href="/assets/css/style_index.css" rel="stylesheet">

    <style>
        body{ 
            padding-top:80px;
            background-color: rgb(187, 223, 1);
            /*background-color: white;*/
        }
        
    </style>

</head>
<body>
    <div class="container">
        <img src="/assets/img/belitadark.png" id="logo">
        <div class="jumbotron text-center" style="background-color: rgb(7, 30, 53);">
            <!--<h1>Belita 3B </h1>
            <h3>Bueno, Bonito y Barato.</h3>-->

            <a href="/guest_login" class="btn btn-default" style="background-color: rgb(187, 223, 1);"><span class="fa fa-user"></span> Guest Login</a>
            <a href="/admin_login" class="btn btn-default" style="background-color: rgb(187, 223, 1);"><span class="fa fa-user"></span> Admin Login</a>
        </div>


    </div>
</body>
</html>