<%- include layouts/admin_header.ejs %>
<link href="/assets/css/style_inventory.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-tagsinput.css">
<script type="text/javascript" src="/assets/js/funciones.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-tagsinput-angular.js"></script>
<div class="proveedor">
  <div style="display: flex;">
    <h3 style="height: 50px" class="pageheader">Nuevo Inventario:</h3>
  </div>   
    <input type="hidden" id="idFactura" value="<%=data_facture[0].id_Factura%>"> 
    <input type="hidden" id="costoFactura" value="<%=data_facture[0].Costo%>">
    <input type="hidden" id="ProductosTotales">
</div>




<div class="input_product">
        <label>Ingrese Producto:</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1"></span>
            <input  id="CodigoProduct" type="text" class="form-control" placeholder="Codigo de Barras" aria-describedby="basic-addon1">
        </div>
        <div class="input-group">
		        <span class="input-group-addon" id="basic-addon1"></span>
		        <input id="NombreProduct" type="text" class="form-control" placeholder="Nombre(Tags)" aria-describedby="basic-addon1">
    		</div>
		    <div class="input-group">
		      <span class="input-group-addon" id="basic-addon1"></span>
		      <input id="CantidadProduct" type="text" class="form-control" placeholder="Cantidad" aria-describedby="basic-addon1">
		    </div>

        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"></span>
          <input id="PrecioProduct" type="number" class="form-control" placeholder="Precio por unidad" aria-describedby="basic-addon1">
        </div>
        <div style="width: 100%">
          <button type="button" id="regist_button" class="btn btn-success">Registrar</button>
        </div>  

</div>


<div class="tabla"></div>




<script type="text/javascript">
               

        $('#NombreProduct').focus();

        console.log("Renderzando tabla de factura ");
        $.ajax({
          type: 'GET',
          url: '/render_table/'+$('#idFactura').val(),
          success: function(data){
            $('.tabla').html(data);
          }
        });

        $('#regist_button').click(function(){

          if($('#CantidadProduct').val() < 100){
              var id_factura = $('#idFactura').val();
              var cantidad = $('#CantidadProduct').val();
              var nombre = $('#NombreProduct').val().toLowerCase();
              var codigo = $('#CodigoProduct').val();
              var precio = $('#PrecioProduct').val();
              $.ajax({
                    type: 'POST',
                    data: {'id_factura': id_factura, 'cantidad': cantidad ,
                    'nombre': nombre, 'codigo': codigo, 'precio': precio},
                    url: '/new_product',
                    success: function(data){
                        console.log('renderizado');
                        $('.tabla').html(data);
                    }
                  });
                    
              $('#CantidadProduct').val('');
              $('#NombreProduct').val('');
              $('#CodigoProduct').val('');
              $('#PrecioProduct').val('');}

              $('#CodigoProduct').focus();
          }
         else{alert("Cantidad máxima de productos: 99");} 
        });
        $(document).on('click', '.delete', function(e){
              e.preventDefault();
              var id_producto = $(this).attr('id').substring(1);
              var cantidad = $("#c"+id_producto).val();
              console.log(id_producto);
              $.ajax({
                  type: 'POST',
                  data: {'id_producto': id_producto, 'id_factura': $('#idFactura').val(), 'cantidad': cantidad},
                  url: '/delete_product',
                  success: function(data){
                        $('.tabla').html(data);
                  }
              });
        });
        


       
      

</script>

<%- include layouts/footer.ejs %>