<%if(login_admin){%>
  <%- include layouts/admin_header.ejs %>
<%}
else{%>
  <%- include layouts/user_header.ejs%>
<%}%>




<h1 class="page-header">Cierre de caja: </h1>

	<label for="turno">Seleccione turno:  </label>
	<select id="turno">
		<option value="tm01">Turno Mañana</option>
		<option value="tt02">Turno Tarde</option>
		<option value="tn03">Turno Noche</option>
	</select>
	<label style="margin-left: 15px;" for="fecha">Ingrese Fecha: </label>
	<input id="fecha" type="date">
<button class="buscar-ventas"> Buscar</button>
<div class="cierreCaja" style="margin-top: 20px">
	
</div>

<script type="text/javascript">
	$(".buscar-ventas").on('click', function(e){
		$.ajax({
			type: 'POST',
			data: {'turno': $("#turno").val(), 'fecha': $("#fecha").val()},
			url: '/cajaQuery',
			success: function(data){
				$(".cierreCaja").html(data);
			}
		});
	});


</script>


<%- include layouts/footer.ejs %>