<%- include layouts/admin_header.ejs %>
<link href="/assets/css/style_inventory.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/assets/css/bootstrap-tagsinput.css">
<script type="text/javascript" src="/assets/js/funciones.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-tagsinput.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap-tagsinput-angular.js"></script>
<div class="proveedor">
    <h3 class="pageheader">Establecer precio:</h3>
</div>




<%- include layouts/footer.ejs %>