<style type="text/css">
	.item_nombre{
		display: flex;
		text-align: center;
		font-size: 20px;
	}
	.item_nombre > div{
		width: 50%;
	}
	.item_nombre:hover{
		cursor: pointer;
		background-color: blue;
		color: white;
	}
</style>	

	<%if(prod.length > 0){
			for(var a=0; a < prod.length; a++){%>
				<div class="col-md-6 item_nombre" data-codigo="<%= prod[a].id_producto%>">
					<div><%= prod[a].nombre%></div> <div>Precio: $ <%= prod[a].precioactual%></div>		
				</div>
	<%}
}%>

<script type="text/javascript">
	$(".item_nombre").on('click', function(e){
			e.preventDefault();
			var codigo = $(this).data('codigo');
			$.ajax({
							type: 'POST',
							data: {'codigo': codigo},
							url: '/add_product',
							success: function(data){
								$('.container_list').html(data);
								$('#NombreKey').val("");
								$('#NombreKey').focus();
								$("#productos_found").html("");
							}
						});
		});
</script>
