<%if(login_admin){%>
<%- include layouts/admin_header.ejs %>
<%}
else{%>
	<%- include layouts/user_header.ejs%>
<%}%>





<h1 class="page-header">Stock:</h1>



<div class="col-md-12">
	<div class="input-group">
			  <span class="input-group-addon" id="basic-addon1"></span>
			  <input type="text" id="CodigoProducto" class="form-control" placeholder="Codigo de barra" aria-describedby="basic-addon1">
	</div>
	<form id="formulario_nombre" method="post" action="/buscar_nombre">
		    <div class="input-group">
				<span class="input-group-addon" id="basic-addon1"></span>
				<input name="NombreProduct" type="text" class="form-control" placeholder="Nombre del producto" aria-describedby="basic-addon1">
		    </div>
	</form>

	<div style="width: 100%; margin-bottom: 20px">
          	<button style="position: relative; margin-left: 93%;margin-top: 10px" type="submit" id="submit" class="btn btn-primary">
          	<span class='glyphicon glyphicon-search' aria-hidden='true' style="margin-right: 5px"></span>Buscar
          	</button>
    </div> 
	<div class="container_stock"></div>
</div>


<script type="text/javascript">
  $(document).ready(function(){




  		$.ajax({
				type: 'GET',
		  		url: '/show_product',
		  		success: function(data){
		  				$('.container_stock').html(data);
		  		}
		});
  		$('#CodigoProducto').focus();



		


  		$('#submit').on('keyup', function(e){
  			e.preventDefault();
  			$('#formulario_nombre').submit();
  		});

  		$('#CodigoProducto').on('keyup', function(e){
  			e.preventDefault();
  			var code = $('#CodigoProducto').val();
	  		console.log(code);
	  		if(code.length == 16){
		  		$.ajax({
		  			type: 'POST',
		  			data: {'find_code': code},
		  			url: '/find_product',
		  			success: function(data){
		  				$('.container_stock').html(data);
		  			}
		  		});
	  		}
	  		else{
	  			$.ajax({
		  			type: 'GET',
		  			url: '/show_product',
		  			success: function(data){
		  				$('.container_stock').html(data);
		  			}
		  		});
	  		}
  		});
  });

</script>

<%- include layouts/footer.ejs %>