<ul id="container_all_products">
  <%for(var i=0; i < data.length; i++){%>
    <li style="display: flex;" class='list-group-item'>
      	
      	<div style="width: 50%"><h3><b>Nombre: </b><%=data[i].nombre%></h3></div>
      	
      	<div style="width: 45%"><h4><b>Cantidad: </b><%=data[i].cantidadtotal%></h4></div>
        
      	<div style="width: 9%" class="option" >
          <form action="/product_details" method='post'>
            <input type="hidden" name="idProducto" value="<%=data[i].id_producto%>">
            <button class='btn btn-default' type="submit">
            	<span class='glyphicon glyphicon-option-horizontal' aria-hidden='true'></span>
            </button>
          </form>
        </div>
      
    </li>
  <%}%>
</ul>