body{
	font-family: 'Oswald', sans-serif;
}
.container{
	position: relative;
	padding: 10px;
	border-radius: 5%;
	background-color: white;
	width: 50%;
}
.buttons{
	width: 100%;
}
.buttons button{
	width: 100%;
}
#logo{
            height: 350px;
            width: 100%;
        }