body{
	color: white;
	padding-top: 80px;
	/*background-color: rgb(186, 221, 15);*/
	/*background-color: rgb(7, 30, 53);*/
	background-color: white;
	font-family: 'Oswald', sans-serif;
}
.container{
	border-radius: 2%;
	background-color: red;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
}
.container div{
	padding: 0;
	margin: 0;
	width: 100%;
}